*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background: #121214;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
}
a:hover{
    color: grey;
    transition: 1s;
}
button:hover{
    background: #000;
    transition: 1s;
}
